<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER" Name="BigBang1112\WinFileExplorerGbxAddons\IconOverlay" />
		</StandardDirectory>
		<StandardDirectory Id="CommonAppDataFolder">
			<Directory Id="DATAFOLDER" Name="BigBang1112\WinFileExplorerGbxAddons\IconOverlay" />
		</StandardDirectory>
	</Fragment>
</Wix>