<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="Universe Gbx Addons for Windows File Explorer (Thumbnail)" Manufacturer="BigBang1112" Version="1.0.1.0" ProductCode="a2d72aea-4950-4306-998c-1d5b63150e12" UpgradeCode="91285ed0-31d5-46b0-b668-9a948669c8ae">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
		<MediaTemplate EmbedCab="yes" />

		<CustomAction Id="Register" Directory="INSTALLFOLDER" Execute="deferred" Impersonate="no" ExeCommand='regsvr32.exe /s "[INSTALLDIR]WinFileExplorerGbxAddons.Thumbnail.comhost.dll"' />
		<CustomAction Id="Unregister" Directory="INSTALLFOLDER" Execute="deferred" Impersonate="no" ExeCommand='regsvr32.exe /s /u "[INSTALLDIR]WinFileExplorerGbxAddons.Thumbnail.comhost.dll"' />

		<Feature Id="Main">
			<ComponentGroupRef Id="Main" />
		</Feature>

		<InstallExecuteSequence>
			<Custom Action="Register" Before="InstallFinalize" Condition="NOT Installed"></Custom>
			<Custom Action="Unregister" After="InstallInitialize" Condition="REMOVE=&quot;ALL&quot;"></Custom>
		</InstallExecuteSequence>
	</Package>
</Wix>
